
<label for="email" class="form-label">Email</label>
<input type="text" id="email" class="form-control" aria-describedby="emailHelpBlock">
<div id="emailHelpBlock" class="form-text">
  Your email must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
</div>

<label for="inputPassword5" class="form-label">Password</label>
<input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
<div id="passwordHelpBlock" class="form-text">
  Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
</div>