@import 'variables';
.test {
  font-size: 1rem;
  background-color: red;
}
h1 {
  color: $yellow-color;
}
h2 {
  color: rgb(188, 24, 24);
}
.card {
  margin-bottom: 10px; /* Khoảng cách dưới của mỗi thẻ card */
}
.user-avatar {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-right: 5px;
}
.checkbox-select-all-option
{
  width: 20px;
  margin: 0 8px;
}
