<div class="mt-4"> 
    <form method="POST" action="/courses/store">
  <div class="form-group" style="margin: 10px;">

    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder="Enter name">

    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" name="description" aria-describedby="emailHelp" placeholder="Enter description">

    <label for="videoID">Video ID</label>
    <input type="text" class="form-control" id="videoID" name="videoID" aria-describedby="emailHelp" placeholder="Enter video ID">

    <label for="level">Trình độ</label>
    <input type="text" class="form-control" id="level" name="level" aria-describedby="emailHelp" placeholder="Enter level">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>