<div class="mt-4">
    {{!-- {{#each courses}} --}}
     <div class="row">
        <div class="col-lg-3">
            <input class="btn btn-primary" type="button" value="HỌC NGAY">
        </div>
        <div class="col-lg-9">
            <h3>{{course.name}}</h3>
            <iframe width="560" height="320" src="https://www.youtube.com/embed/0SJE9dYdpps"></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
    {{!-- {{/each}} --}}
</div>
