<div class="mt-4">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="search-input" >Từ khóa</label>
            <input type="text" class="form-control" name="q" id="search-input" placeholder="Nhập từ khóa...">
        </div>

        <div class="mb-3">
            <label for="search-input" >Từ khóa</label>
            <select name="gender" class="form-control" id="gender-input">
                <option value="">Chọn giới tính</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
             <button type="submit" class="btn btn-primary">Submit</button>
        </div>
       
    </form>
    
</div>